@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
    height: 950px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, rgb(255, 255, 255), 69%, 61%) 100%, #ffffff 100%);
}
.contenedor-baner{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.contenedor-baner-img{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 20%;
}

.contenedor-registro{
    height: 650px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content:flex-end ;
    overflow: hidden;
   
}
.contenedor-registro-principal{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border: 20px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: #ffffff;
}
.contenedor-imagen{
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: #bcd2f8;
}
.contenedor-imagen-principal{
    background-color: #ffffff;
    width: 84%;
    padding: 25px;
    align-items: center;
}
.titulo{
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #5995fd;
    text-align: center;
    width: 25%;
}
.titulo-baner{
    float:right;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #5995fd;
    text-align:center;
    width: 50%;
    height: 10px;
}
.datos, .boton{
    width: 70%;
    height: 50px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}
.datos{
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;   
}
.datos:hover{
    border: 2px solid #5995fd;
}
.datos-registro{
    font-size: 20px;
    
}
.contenedor-botones{   
    padding: 10px;
    overflow: hidden;
    
}
.boton{
    font-size: 15px;
    width: 10%;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}
#boton1 {
    background-color:#bcd2f8; 
    color: rgb(255, 255, 255); 
    margin: 0px 550px;
    width: 30%;
}
#boton1:hover {
    background-color:#8999b4;
    color: white;
}
#boton2 {
    width: 70%;
    background-color:#5995fd; 
    color: rgb(255, 255, 255);
    margin: 120px 45px;
}
#boton2:hover {
    background-color:#4370bd;
    color: white;
}
.inicio{
    letter-spacing: 2px;
    font-weight: 570;
    margin: 25px;

    cursor: pointer;
    text-decoration: none;
    color:#5995fd;
}
.link-inicio{
    line-height: normal;
    text-decoration: none;
    color: #5995fd;
    font-weight: 600;
    cursor: pointer;
}

