@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
    height: 950px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #5588e0 100%, #4481eb 100%);
}
.contenedor-registro{
    height: 600px;
    width: 96%;
    margin: 50px auto;
    display: flex;
    justify-content:flex-end ;
    overflow: hidden;
    border-radius: 20px;   
}
.contenedor-registro-principal{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border: 20px;
    padding-top: 30px;
    padding-left: 100px;
    background-color: #ffffff;
}
.contenedor-imagen{
    width: 50%;
    padding: 25px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: #bcd2f8;
}

.titulo{
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
}
.datos, .boton{
    width: 70%;
    height: 50px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}
.datos{
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;   
}
.datos:hover{
    border: 2px solid #5995fd;
}
.datos-registro{
    font-size: 20px;
    
}
.contenedor-botones{   
    padding: 10px;
    overflow: hidden;
    
}
.boton{
    float: left;
    font-size: 15px;
    width: 10%;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;

}
#boton1 {
    background-color:#3462b3; 
    color: rgb(255, 255, 255); 
    margin: 0px 720px;

}
#boton1:hover {
    background-color:#295196;
    color: white;
}
#boton2 {
    background-color:#3462b3; 
    color: rgb(255, 255, 255);
}
#boton2:hover {
    background-color:#295196;
    color: white;
}
.inicio{
    letter-spacing: 2px;
    font-weight: 570;
    margin: 25px;

    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.link-inicio{
    line-height: normal;
    text-decoration: none;
    color: #5995fd;
    font-weight: 600;
    cursor: pointer;
}

